.app-demo {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    box-shadow: 0 0 10px #e0e0e0;
    &__item {
        padding: 20px;
        border: 1px solid rgb(250, 246, 246);
    }
    &_custom-label {
        display: grid;
        grid-template-columns: 40px auto;
        align-items: center;
    }
}